.app {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #27293c;
    background-image: url('../../assets/img/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}