$fontTeko: 'Teko',
sans-serif;
$fontPoppins: 'Poppins',
sans-serif;
.server-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 164px;
    height: 151px;
    background-image: linear-gradient(229deg, rgba(39, 41, 64, 0.54) 0%, rgba(39, 41, 64, 0.91) 100%);
    background-image: url('../../../../assets/img/overpass-bg.png');
    box-shadow: 0 8px 16px -4px rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media screen and (max-width: 550px) {
        width: 95%;
    }
    @media screen and (max-width: 370px) {
        width: 100%;
    }
    .start-game {
        display: flex;
        align-items: center;
        padding: 10px;
        .copy {
            margin-right: 10px;
            button {
                width: 28px;
                height: 28px;
                color: #fff;
                font-size: 14px;
                border: none;
                background: linear-gradient(-180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%)rgba(255, 255, 255, 0.05);
                border-radius: 2px;
                box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.05), 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
                cursor: pointer;
            }
        }
        .join {
            button {
                width: 28px;
                height: 28px;
                color: #fff;
                font-size: 14px;
                border: none;
                background-color: #95b200;
                background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
                border-radius: 2px;
                box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.25), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
                cursor: pointer;
            }
        }
    }
    .serve-name {
        padding: 10px;
        h5 {
            color: rgb(255, 255, 255);
            font-family: $fontPoppins;
            font-size: 12px;
            font-weight: 500;
            margin: 0;
        }
        .mode {
            color: rgb(255, 255, 255);
            font-family: $fontPoppins;
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
            margin: 0;
        }
    }
    .server-info {
        padding: 10px;
        .info {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;
            p {
                margin: 0;
                color: rgb(255, 255, 255);
                font-family: $fontPoppins;
                font-size: 12px;
                font-weight: 500;
            }
        }
        .line {
            height: 8px;
            border-radius: 4px;
            border: 1px solid rgba(255, 255, 255, .25);
            background-color: rgba(0, 0, 0, .05);
            div {
                height: 8px;
                width: 0%;
                border-radius: 8px;
                background: linear-gradient(-90deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%) rgb(44, 151, 222);
            }
        }
    }
}